body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #bababa);
}

.container {
  position: absolute;
  top: 60px;
  width: 30rem;
  margin: 3rem;
  padding: 1.5rem 0;
  border-radius: 15px;
  display: grid;
  justify-items: center;
  background: linear-gradient(to right, #727272, #828282);
}

header {
  width: 25rem;
  display: grid;
  justify-items: center;
}

p {
  width: 100%;
  margin-left: 15px;
  font-size: 1.2rem;
  color: #b0b0b0e7;
  font-weight: bold;
}

section {
  margin-top: 1rem;
}

.filter-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0px 18px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  background-color: #434343;
  color: #c8c8c8;
  cursor: pointer;
}

.filter-section button img,
.ic-status {
  width: 18px;
  height: 14px;
  margin-right: 5px;
}

main {
  display: grid;
  justify-items: center;
}

.filter-section,
.add-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-input {
  width: 270px;
  height: 40px;
  border-radius: 35px;
  padding: 0 15px;
  background-color: #434343;
  color: #c8c8c8;
  outline: none;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  background-color: #434343;
  color: #c8c8c8;
  cursor: pointer;
}

.add-btn img {
  width: 12px;
}

.todo-table {
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 400px;
  text-align: center;
  border-collapse: collapse;
  background: linear-gradient(to bottom right, #525252, #393939);
  color: #c7c7c7;
}

thead th:nth-child(1) {
  width: 50px;
}

thead th:nth-child(2),
thead th:nth-child(3) {
  width: 90px;
}

.status-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

h1 {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  color: #b0b0b0e7;
}

.delete-btn,
.complete-btn {
  width: 40px;
  height: 38px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  background-color: #434343;
  color: #c8c8c8;
  cursor: pointer;
}

table th {
  border-bottom: 1px solid #4f4f4f;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
}

table td {
  border-bottom: 1px solid #4f4f4f;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

#drop-line {
  height: 2px;
  background-color: #a9a9a9;
  padding: 0;
}

.dragging {
  color: #6f6f6f;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: hsla(0, 0%, 37%, 0.502);
}

.modal-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  position: absolute;
  width: 250px;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ebebebe0;
  border-radius: 20px;
  overflow: hidden;
}

.modal-popup p {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
}

.close-btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #979797e0;
  color: #007dea;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.filter-custom {
  width: 16%;
  height: 36px;
  cursor: pointer;
}

.add-custom {
  width: 21%;
  height: 40px;
  cursor: pointer;
}

.selected-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border-radius: 30px;
  font-size: 12px;
  background-color: #434343;
  color: #c8c8c8;
  cursor: pointer;
}

.selected-option img {
  width: 8px;
  margin-left: 5px;
}

.option-list {
  display: none;
  position: absolute;
  background: hsla(0, 1%, 69%, 0.931);
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  overflow: hidden;
  width: 60px;
  text-align: center;
  font-size: 12px;
}

.option-list li {
  padding: 10px 0;
}

.option-list li:hover {
  background: hsla(0, 0%, 37%, 0.502);
}

.custom-select.open .option-list {
  display: block;
}
